$color-header-nav-before: white;
$color-header-nav-after:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-header-nav-font: #28C76F;
$color-header-logo-font:#28C76F;
$color-footer:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-footer-copyright:white;
$color-sidebar-title:white;
$color-sidebar-title-back: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-widget_categories:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-widget_categories-font:white;
$color-widget_categories-font-g: #28C76F;
$color-widget_categories-children: #81FBB8;
$color-widget_categories-boder: #81FBB8;
$color-tagcloud:#28C76F;
$color-searchform-f:#28C76F;
$color-searchform:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-searchform-w:white;
$color-article-border: #ddd;
$color-article-border-g:#28C76F;
$color-article-g:#28C76F;
$color-article-w:white;
$color-article-gra:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-shingle-g:#28C76F;
$color-shingle-w:white;
$color-shingle-gra:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-shingle-u:#81FBB8;
$color-footer:#F4F4F4;
$color-gra:linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
$color-w:white;
$color-g:#28C76F;
$instagram_color:linear-gradient(135deg, #427eff 0%, #f13f79 70%);
$facebook_color: #3b5998;
$twitter_color: #55acee;
$youtube_color: #fc0d1c;
$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;