.happy{
    margin: 0 auto;
    max-width: 960px;
    &__title{
        text-align: center;
        font-family:$font-Vollkorn;
        font-size:88px;
        font-weight: bold;
        line-height: 0.318;
        color:$color-t;
        margin-bottom:99px;
    }
    &__body{
        &-item{
            @include fcenter;
            margin-bottom: 40px;
            &-img{
                margin-right: auto;
                margin-left: auto;
                img{
                    display: block;
                }
            }
            &-texts{
                max-width: 400px;
                margin-right: auto;
                margin-left: auto;
                &-title{
                    font-family: 'Sawarabi Mincho', sans-serif;
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 0.7;
                    color: $color-b;
                }
                &-p{
                    font-family:'Noto Sans', sans-serif;
                    font-size: 24px;
                    line-height: 1.2;
                    color:$color-b;
                    margin-top: 40px;
                }
            }
        }
    }       
}

@include mq{
    .happy{
        &__title{
            font-size: 48px;
            margin-top:37px;
            margin-bottom:69px;
            line-height: 1;
        }
        &__body{
            &-item{
                &-img{
                    margin-bottom: 20px;
                }
                flex-direction: column;
                    &-texts{
                        padding-left: 20px;
                        padding-right: 20px;
                        &-title{
                                font-size: 27px;
                                font-weight: bold;
                            }
                            &-p{
                                font-size: 21px;
                                margin-top:20px;
                        }
                    }
                }
            }
        }
    }