//color
$color-title:#33ccff;
$color-text:#000000;
$color-footer:#fff;
$color-header:#fff;
$color-hover:#a9a9a9;
$color-span:#696969;
//font
$font-Montserrat:'Montserrat', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-SawarabiMincho:'Sawarabi Mincho', sans-serif;
$font-NotoSans:'Noto Sans', sans-serif;