//color
$color-line:#333;
$color-text-btn:#333;
$color-line-b:#fff;
$color-text-nav:#fff;
$color-font:#fff;
$color-font-background:#000;
$color-background:#333;
$color-title:#333;
$color-header:#fff;
$color-btn-hover: #c1ab05;
$color-title-s: #c1ab05;
$color-line-b-h: #c1ab05;
$color-nav-menu:#c1ab05;
$color-nav:#000;
$color-line-gradient:#222b40;
$color-img:#fff;
$color-footer:#333;
//font
$font-Vollkorn:'Vollkorn', serif;
$font-Montserrat:'Montserrat', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-SawarabiMincho:'Sawarabi Mincho', sans-serif;
$font-NotoSans:'Noto Sans', sans-serif;