//color
$color-b:#000000;
$color-f:#ffff33;
$color-t:#000000;
$color-s:#fff;
//font
$font-Quicksand:'Quicksand',sans-serif;
$font-SawarabiMincho:'Sawarabi Mincho', sans-serif;
$font-NotoSans:'Noto Sans', sans-serif;
$font-Vollkorn:'Vollkorn', serif;